<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.69" />
  <package id="Azure.AI.TextAnalytics" version="5.3.0" manuallyInstalled="true" />
  <package id="Azure.Core" version="1.38.0" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="NaCl.Net" version="0.1.13" />
  <package id="NetMQ" version="4.0.1.13" manuallyInstalled="true" />
  <package id="System.ClientModel" version="1.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" />
  <package id="System.Memory.Data" version="8.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" manuallyInstalled="true" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="runtime.any.System.Text.Encoding" version="4.3.0" manuallyInstalled="true" />
</packages>